 

<div class="modal-header">
    <button type="button" class="close" ng-click="controller.ok()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Licitacion {{controller.licitacion.CodigoExterno}}</h3>
    <h4 class="modal-title">{{controller.licitacion.Nombre}}</h4>
</div>
<div class="modal-body" ng-show="controller.gettingData" class="label label-info">
  <div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      <span class="">Cargando ficha de licitación...</span>
    </div>
  </div>
</div>


<div class="modal-body" ng-hide="controller.gettingData">
   <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Datos generales</h3>
        </div>
        <div class="panel-body">

          <table class="table table-hover">
            <tbody>
              <tr>
                <td>Descripción</td>
                <td>{{controller.fichaLicitacion.Descripcion}}</td>
              </tr>
              <tr>
                <td>Comprador</td>
                <td>{{controller.fichaLicitacion.Comprador.NombreOrganismo}}</td>
              </tr>        
              <tr>
                <td>Estado</td>
                <td>{{controller.fichaLicitacion.Estado}}</td>
              </tr>
              <tr>
                <td>Fecha de cierre</td>
                <td>{{controller.fichaLicitacion.Fechas.FechaCierre | date:'dd-MMM-yyyy'}} <span ng-show="controller.fichaLicitacion.DiasCierreLicitacion">(en {{controller.fichaLicitacion.DiasCierreLicitacion}} días)</span></td>
              </tr>
              <tr ng-show="controller.fichaLicitacion.MontoEstimado">
                <td>Monto estimado</td>
                <td>{{controller.fichaLicitacion.MontoEstimado | number:0}} <span ng-show="controller.fichaLicitacion.MontoEstimado">({{controller.fichaLicitacion.Moneda}})</span></td>
              </tr>


            </tbody>
          </table>


        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Items</h3>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <tbody>
              <tr ng-repeat="item in controller.fichaLicitacion.Items.Listado">
                <td>{{item.Correlativo}}</td>
                <td>{{item.NombreProducto}}<br>{{item.Descripcion}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>



    <accordion>
       <accordion-group is-open="status.open" class="panel-primary">
          <accordion-heading>
              Ver licitaciones similares <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </accordion-heading>
          <p class="text-muted">La figura muestra todas las licitaciones cuyo título comparte uno o más términos con el título de la licitación seleccionada</p>
          <div td-forces td-nodes="controller.nodes" td-links="controller.links"></div>
      </accordion-group>
    </accordion>

    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Ver licitación en sitio de MercadoPublico</h3>
        </div>
        <div class="panel-body">
          <p>Esperamos contar pronto con un enlace directo a la licitación en el sitio de MercadoPublico, donde podrá acceder a información adicional y descargar las bases de licitación (y otros documentos adjuntos).</p>
          <p>Por ahora le sugerimos que:</p>
          <li> Copie el identificador de la licitación que se indica más abajo (seleccionarlo y luego copiar)</li>
          <li> Pegue el identificador en el buscador "Busque licitaciones" de la página mercadopublico.cl</li>
          <p/>

          <form class="form-inline" role="form">
            <div class="form-group">
              <div class="input-group">
                <label class="sr-only" for="codigoLicitacion">Identificador de Licitación</label>
                <div class="input-group-addon">Id de licitación</div>
                <input type="email" class="form-control" id="codigoLicitacion"  value="{{controller.licitacion.CodigoExterno}}" required="required" pattern="" title="" readonly="true" select-on-click>
              </div>
            </div>
            <a  href="http://www.mercadopublico.cl" class="btn btn-default" target="_blank">Ir a MercadoPublico.cl</a>
          </form>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="controller.ok()">OK</button>
</div>


 