  <!-- container -->
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" ng-show="controller.gettingData">

        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="">Consultando licitaciones...</span>
          </div>
        </div>
        <p class="text-muted">Estamos consultando las licitaciones activas en <a href="http://mercadopublico.cl" target="_blank">mercadopublico.cl</a> para que usted pueda explorarlas con facilidad</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" ng-show="controller.apiError">
      <span class="label label-warning" >Error de comunicación.  Revise su conexión a Inernet e intente nuevamente</span>
    </div>

    <div class="row" ng-hide="controller.gettingData || controller.apiError">
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Nube de términos</h3>
            <p>Haga click en algún término para seleccionar las licitaciones que lo contienen</p>
          </div>
          <div class="panel-body">
            <div td-word-cloud td-data="controller.cloudText" td-click-handler="controller.clickHandlerCloud" td-max-number="500" td-excluded="controller.excludedTokens"></div>          
          </div>

          <div class="panel-footer">
            <p>La nube de términos se construye con las palabras más frecuentes encontradas en los nombres de las licitaciones activas publicadas en mercadopublico.cl
          </div>

        </div>
      </div>
  

      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Licitaciones<span ng-show="controller.searchText">&nbsp;relacionadas con <span class="label label-info" >{{controller.searchText}}</span></span></h3>
            <p ng-show="controller.searchText">Pase el mouse sobre los círculos que representan las licitaciones para ver sus datos básicos. Un click le permite abrir una ficha con información.</p>
          </div>
          <div class="panel-body">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
            <div class="row">
              <div td-chc-chart td-data="controller.data" td-color-legend="controller.licitacionesLegend" td-tooltip-message="controller.tooltipMessage" td-search="controller.searchText" td-similar-terms="controller.similarTerms" td-num-selected="controller.nSelected" td-selected="controller.selected" td-click-handler="controller.clickHandler" td-dont-display="controller.dontDisplay" td-color-by-cierre="true"></div>
            </div>

            <!-- legend -->
            <div class="row text-center" ng-show="controller.searchText">
              <div class="col-md-12">
                <p text-info>Los colores representan la fecha de cierre de la licitación</p>
                <div class="row text-left" ng-repeat="item in controller.licitacionesLegend">
                  <span style="font-size:10px; padding-left:10px; background-color:{{item.color}};">&nbsp;</span>&nbsp;{{controller.categoriaCierre[item.key]}} ({{item.n}} <span ng-show="item.n">licitaciones</span><span ng-hide="item.n">licitación</span>)
                </div>
              </div>
            </div><!-- legend -->
            <div class="row" ng-show="controller.nSelected">
              <span ng-show="controller.nSelected">Se muestran {{controller.nSelected}} licitaciones de un total de </span>&nbsp;{{controller.data.length}} publicadas.
            </div>
            <hr/>

            <div class="row" ng-show="controller.searchText">
              <p class="text-info">También puede ingresar su propio texto para buscar otras licitaciones.</p>   
            
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="search" name="" id="input" ng-model="controller.search" ng-change="controller.changeSearch()" class="form-control" value="" required="required" title="" placeholder="Texto a buscar">
              </div>
            </div>


          </div>
          </div>
        </div>


      </div>  

  
    </div>

    <footer class="footer" ng-hide="controller.gettingData || controller.apiError">
      <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <img src="images/tide.png" class="img" height="50" alt="Image"><p class="text-muted">Visualizador desarrollado por <a href="http://www.tide.cl" target="_blank">TIDE SA</a> para ser presentado al concurso <a href="http://www.chilecompra.cl/index.php?option=com_content&view=article&id=1924%3Achilecompra-lanza-concurso-para-desarrollo-de-aplicaciones-con-nueva-api-de-mercado-publico&catid=381&Itemid=1095" target="_blank">"Desarrolla aplicaciones innovadoras con la información de ChileCompra"</a> organizado por Chilecompra.</p>
        </div>
 
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <img src="images/logo_chilecompra.png" class="img" alt="Image" height="50px"> <p> Esta página utiliza la API de MercadoPublico (<a href="http://api.mercadopublico.cl" target="_blank">api.mercadopublico.cl</a>) que permite consultar licitaciones del sector público en Chile. </p>
        </div>
      </div> 
    </footer>

  </div><!-- container -->